body {
    text-align: center;
}
#data_frame {
    width: 100%;
    height: 700px;
    border: none;
}
#data_table {
    margin: auto;
}
#data_table tr:last-child input:disabled {
    opacity: 0.5;
}
#data_header {
}
.data_row:hover {
    cursor: pointer;
}
.data_row:hover input:disabled, .data_row:hover select:disabled {
    border: 1px solid #7cacf9;
    pointer-events: none;
}
input, select {
    border: 1px solid #7c7c7c;
    border-radius: 2px;
    text-align: center;
    width: 100%;
}                               
input:invalid {
    border-color: #ff3838;
}
input:valid {
    border-color: #29ad4a;
}